{% extends 'base-home.html.twig' %}
{% block title %}Nombre extra effectuer{% endblock %}
{% block pageTitle %}Nombre extra effectuer{% endblock %}
{% block body %}
<style>
.table {
    table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
ul {
  list-style: none;
}
.tbl_scroll{
    display: block;height: 400px;overflow-y: scroll;
}
.tbl_scroll_1{
    display: block;
    height: 249px;
    overflow-y: scroll;
}

.thead{
  display:inline-block;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

</style>
<div class="col-lg-6 col-md-6">
    <div class="card">
        <div class="card-body">
        {% form_theme form 'form-theme.html.twig' %}
        {{ form_start(form) }}
   
            <div class="form-group">
                {{ form_row(form.matricule,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.interval_date_extra, {'label': 'Date','attr': {'class': 'form-control'}}) }}    
            </div>
           
            <button id="enregistrer" type="submit" class="btn btn-primary">
                <span class="fa fa-eye"></span> Afficher
            </button>
        {{ form_end(form) }}
        </div>
    </div>
</div>

{% if(data!=null) %}
<div class="col-lg-12 col-md-12">
        <br/>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="form-group">
                    <span style="font-size:20px!important;font-weight: 700;">Heure d'extra manquant&nbsp:</span> 
                        <table class="table tbl_scroll_1">
                            <thead style="background:#4272d7;color:#fff;">
                                <tr>
                                    <th>Matricule</th>
                                    <th>Login</th>
                                    <th>Nom</th>
                                    <th>Equipe</th>
                                    <th>Nombre d'extra</th>
                                    <th>Date extra</th>
                                </tr>
                            </thead>
                            <!--<tbody class="value_data_heure_manquant_extras"> -->
                             <tbody> 
                              	{% for x in data %}
	                            <tr>
                                    <td>{{x.id_personnel}}</td>
                                    <td>{{x.login}}</td>
                                    <td>{{x.nom}}</td>
                                    <td>
                                    {% if x.id_type_pointage!=1 %}
                                        <span>Equipe APM</span>
                                    {% else %}
                                        <span>Equipe Matin</span>
                                    {% endif %}
                                    </td>
                                    <td>{{x.nb_extra}}</td>
                                    <td>
                                        {% for key,value in x.date %}
                                            {{x.date[key]|date('d-m-Y')}}<br/>
                                        {% endfor %}
                                        
                                    </td>
                                </tr>

	                            {% endfor %}
	                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endif %}

{% endblock %}

{% block javascripts %}
{{parent()}}
<script>


    $(document).ready(function(){
        var DatePickerLocal = {
            "direction": "ltr",
            "format": "DD/MM/YYYY",
            "separator": " -",
            "applyLabel": "Appliquer",
            "cancelLabel": "Annuler",
            "fromLabel": "Da",
            "toLabel": "A",
            "customRangeLabel": "Plage personnalisée",
            "daysOfWeek": [
                "Di",
                "Lu",
                "Ma",
                "Me",
                "Jeu",
                "Ve",
                "Sa"
            ],
            "monthNames": [
                "Janvier",
                "Février",
                "Mars",
                "Avril",
                "Mai",
                "Juin",
                "Juillet",
                "Août",
                "Septembre",
                "Octobre",
                "Novembre",
                "Décembre"
            ],
            "firstDay": 1,
        };
        $("#form_interval_date_extra").daterangepicker({
            autoUpdateInput:true,
            ranges: {
                'Aujourd\'hui': [moment(), moment()],
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Les 7 jours derniers': [moment().subtract(6, 'days'), moment()],
                'Les 30 jours derniers': [moment().subtract(29, 'days'), moment()],
                'Ce mois-ci': [moment().startOf('month'), moment().endOf('month')],
                'Le mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Compte actuel': [moment().startOf('month').subtract(1, 'month').format('21-MM-YYYY'), moment().endOf('month').format('20-MM-YYYY')],
                     'Compte précédent': [moment().startOf('month').subtract(1, 'month').subtract(1, 'month').format('21-MM-YYYY'), moment().endOf('month').subtract(1, 'month').format('20-MM-YYYY')],
          
               
            },
            locale:{
                format: "DD/MM/YYYY",
                separator: " - ",
                applyLabel: "Appliquer",
                cancelLabel: "Annuler",
                fromLabel: "Da",
                toLabel: "A",
                customRangeLabel: "Plage personnalisée",
                daysOfWeek: ["Di","Lu","Ma","Me","Jeu","Ve","Sa"],
                monthNames: ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"],
                firstDay: 1
            },
        });
            
        $('#form_interval_date_extra').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });
    });


$(document).ready(function () {

  //$("select#form_user").css({"title": "Recherche"});

    /*au changement du champs user on met à jour l'affichage des champs*/
 
    /*initialisation du champs user, pour l'utilisation du plugin select2 avec un filtre de recherche particulier*/
    $('select#form_matricule').select2({matcher: select2matchCustomUser});
    $('select#form_operateur').select2({matcher: select2matchCustomUser});
    /*initialisation de 'laffichage des champs*/
 
});

/*On va utiliser le système de recherche classique du plugin select2*/
var defaultMatcher = $.fn.select2.defaults.defaults.matcher;
function select2matchCustomUser(params, data) {
    /* Si l'option est "Autre" on l'affiche toujours */
    if (params.term && data.id == "autre") {
        return data;
    }
    /* Sinon utilisation de la recherche classique */
    return defaultMatcher(params, data);
}

</script>

{% endblock %}