<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body style="font-family:Arial;word-wrap:break-word">
        {% if infos is not defined %}
        {% set infos = app.session.get('infos') %}
        {% endif %}

        {% if infos is not null %}
        <page>
            <div style="position: relative;
                        width: 100%;
                        min-height: 1px;
                        padding-right: 15px;
                        padding-left: 15px;">
                <div style="display: -ms-flexbox;
                        display: flex;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        margin-right: -15px;
                        margin-left: -15px;">
               

                
                <section>
                        <div style="padding:2.5cm 3cm">
                        <div style="display: -ms-flexbox;
                                    display: flex;
                                    -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                                    margin-right: -15px;
                                    margin-left: -15px;">
                            <div style="margin-top: 1rem !important;flex: 0 0 100%;
                                    max-width: 100%;position: relative;
                                    width: 100%;
                                    min-height: 1px;
                                    padding-right: 15px;
                                    padding-left: 15px;">
                            </div>
                                <div style="margin-top: 1rem !important;flex: 0 0 100%;
                                    max-width: 100%;position: relative;
                                    width: 100%;
                                    min-height: 1px;
                                    padding-right: 15px;
                                    ">
                                    <img src="{{absolute_url(asset("images/logo-eline-large.png"))}}" alt="ELINE" />
                                </div>
                        </div>
                        <div style="display: -ms-flexbox;
                                    display: flex;
                                    -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                                    margin-right: -15px;
                                    margin-left: -15px;
                                }">
                            <div style="margin-top: 1rem !important;flex: 0 0 50%;
                                        max-width: 50%;">
                                     <p>ELINE SOFT & DATA</p>
                                    <p>21 Rue Andriambelomasina<br> Immeuble Akany Rainimamonjy</p>
                                    <p>Amparibe Antananarivo 101</p>
                                    <p>NIF : 4001693087</p>
                                    <p>STAT : 63113120114010603</p>
                                    <p>RCS : 2014B00553</p>
                                    <p>Tél : +261349074605</p>
                            </div>
                            <div style="margin-top: 1rem !important;flex: 0 0 50%;
                                        max-width: 50%;">
                            </div>
                        </div>
                        
                        <div style="display: -ms-flexbox;
                                    display: flex;
                                    -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                                    margin-right: -15px;
                                    margin-left: -15px;">
                            <div style="flex: 0 0 50%;
                                        max-width: 50%;position: relative;
                                        width: 100%;
                                        min-height: 1px;
                                        padding-right: 15px;
                                        padding-left: 15px;">
                            </div>
                            <div style="margin-top: 80px !important;flex: 0 0 50%;
                                        max-width: 50%; margin-left:500px;">
                                <div class="form-group label-floating">
                                    <label class="control-label">Antananarivo, le {{ infos.date|date("d/m/Y") }}</label>
                                </div>
                            </div>
                            <div style="margin-top: 1rem !important;flex: 0 0 50%;
                                        max-width: 50%;">
                            </div>
                        </div>
                        
                        <div style="display: -ms-flexbox;
                                    display: flex;
                                    -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                                    margin-right: -15px;
                                    margin-left: -15px;">

                            <div style="align-self: center !important;flex: 0 0 100%;
                                        max-width: 100%;margin-top:80px;">
                                        <center><strong>CERTIFICAT DE TRAVAIL</strong></center>
                                        
                            </div>
                            
                            <div style="margin-top: 1rem !important;flex: 0 0 100%;
                                        max-width: 100%;word-wrap:break-word;">
                                <p style="margin-left:50px;">
                                    Nous soussignés ELINE SOFT &amp; DATA certifions que :
                                </p>
                                <p style="font-family:Arial; ">
                                    {% if infos.user.sexe == 'MASCULIN' %}Mr{% else %}Mme{% endif %} <strong>{{ infos.user.nom }} {{ infos.user.prenom }}</strong> matricule <strong>{{infos.user.id_personnel}}</strong> a été employé(e) dans notre société comme <strong><em>{{infos.user.nom_fonction}}</em></strong> depuis le {{infos.user.date_embauche|date("d/m/Y") }}  jusqu'au {{ infos.dateSuppl | date('d/m/Y') }} dans le cadre d’un contrat à durée indéterminée.
                                </p>
                                <p style="margin-left:50px;">
                                    En foi de quoi, ce certificat lui est délivré pour servir et faire valoir ce que de droit.
                               
                                </p>      
                            </div>
                            
                            
                            
                            <div style="margin: 0;
                                        padding: 0;
                                        margin-top:70px;
                                        margin-left:150px;
                                        -webkit-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        box-sizing: border-box;margin-left:600px;">
                                        <p class="text-center"><strong>La Direction</strong></p>
                                        
                            </div>
                        </div>
                    </div>
                    

                    
                    </section>
               
                <!--Colone3 page-->
                <div style="flex: 0 0 8.333333%;
                            max-width: 8.333333%;position: relative;
                            width: 100%;
                            min-height: 1px;
                            padding-right: 15px;
                            padding-left: 15px;">
                </div>
                <!--Fin Colone3 page-->
                    </div>
            </div>
            
        </page>
        {% endif %}
    </body>
</html>